@import url("./_vars.scss");
@import url("./_fonts.scss");
@import url("./_generic.scss");

html, body {
  overflow: hidden auto;
  min-height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}



